Source: testsrcpackage
Section: devel
Priority: optional
Maintainer: Test <testing@nowhere>
Standards-Version: 3.8.1

Package: testpackage
Architecture: all
Description: short description
 Long description
